
body{
    roboto-family: 'Roboto', sans-serif;
    raleway-family: 'Raleway', sans-serif;
}
.section-hero{
    background-color: #2e2f42; /* темний фон */
  color: #ffffff;            /* білий текст */
  text-align: center;
  width: 1440px;
   height: 600px; 
}

.main-text{
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: var(--white);
}


