.body-beground {
    width: 1440px;
height: 600px; 
background: var(--navy-blue);
}




.logo-studio{
    
}


h1{
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: var(--white);
}